.root {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;

  &.default {
    & .prizeWrapper {
      border-color: var(--black-040);
      color: var(--black-100);
      background-color: var(--white-100);
    }

    & .line {
      background-color: var(--black-040);
    }

    & .triangleLeft,
    & .triangleRight {
      background-color: var(--white-100);
      border-color: var(--black-040);
    }
  }

  &.active {
    & .prizeWrapper {
      border-color: var(--orange-100);
      color: var(--orange-100);
      background-color: var(--orange-005);
    }

    & .line {
      background-color: var(--orange-100);
    }

    & .triangleLeft,
    & .triangleRight {
      background-color: var(--orange-005);
      border-color: var(--orange-100);
    }
  }

  &.finished {
    & .prizeWrapper {
      border-color: var(--black-040);
      color: var(--black-040);
      background-color: var(--white-100);
    }

    & .line {
      background-color: var(--black-040);
    }

    & .triangleLeft,
    & .triangleRight {
      background-color: var(--white-100);
      border-color: var(--black-040);
    }
  }
}

.line,
.prizeWrapper,
.triangleLeft,
.triangleRight {
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


.line {
  height: 1px;
  width: 100%;
  border: none;
  flex-shrink: 1;
}

.prizeWrapper {
  width: 240px;
  max-width: 240px;
  height: 32px;
  flex-grow: 1;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin: 0 8px;
}

.prize {
  font-size: 14px;
  font-weight: 400;
}

.triangleLeft,
.triangleRight {
  display: block;
  height: 18px;
  width: 18px;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  border-radius: 0;
  top: 6px;
}

.triangleLeft {
  transform: rotate(45deg) skew(10deg, 10deg);
  left: -9px;
}

.triangleRight {
  transform: rotate(225deg) skew(10deg, 10deg);
  right: -9px;
}

.prize {
  position: relative;
  z-index: 2;
}

@media (width > 768px) {
  .prizeWrapper {
    height: 40px;
    margin: 0 10px;
  }

  .triangleLeft,
  .triangleRight {
    height: 24px;
    width: 24px;
    top: 7px;
  }

  .triangleLeft {
    left: -11px;
  }

  .triangleRight {
    right: -11px;
  }
}
